@page
@model TurnoverSheetModel
@{
  ViewData["Title"] = "Обратная ведомость";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>№</th>
      <th></th>
      <th>Вх.сальдо</th>
      <th>Январь</th>
      <th>Февраль</th>
      <th>Март</th>
      <th>Апрель</th>
      <th>Май</th>
      <th>Июнь</th>
      <th>Июль</th>
      <th>Август</th>
      <th>Сентябрь</th>
      <th>Октябрь</th>
      <th>Ноябрь</th>
      <th>Декабрь</th>
      <th>исх.сальдо</th>
    </tr>
  </thead>
  <tbody>
    @for (int i = 0; i < Model.sortedSaldoList.Count(); i++)
    {
      <tr>
        <td>
          @Model.sortedSaldoList[i].Apartment
        </td>
        <th scope="row">
          Сальдо<br />
          Начисл.<br />
          Платеж<br />
        </th>
        <td>
          @Model.sortedSaldoList[i].InSaldo
        </td>
        <td>
          @Model.sortedSaldoList[i].January<br />
          @Model.sortedChargesList[i].January<br />
          @Model.sortedPaymentsList[i].January<br />
        </td>
        <td>
          @Model.sortedSaldoList[i].February<br />
          @Model.sortedChargesList[i].February<br />
          @Model.sortedPaymentsList[i].February <br />
        </td>
        <td>
          @Model.sortedSaldoList[i].March <br />
          @Model.sortedChargesList[i].March <br />
          @Model.sortedPaymentsList[i].March <br />
        </td>
        <td>
          @Model.sortedSaldoList[i].April <br />
          @Model.sortedChargesList[i].April <br />
          @Model.sortedPaymentsList[i].April <br />
        </td>
        <td>
          @Model.sortedSaldoList[i].May <br />
          @Model.sortedChargesList[i].May <br />
          @Model.sortedPaymentsList[i].May <br />
        </td>
        <td>
          @Model.sortedSaldoList[i].June <br />
          @Model.sortedChargesList[i].June <br />
          @Model.sortedPaymentsList[i].June <br />
        </td>
        <td>
          @Model.sortedSaldoList[i].July <br />
          @Model.sortedChargesList[i].July <br />
          @Model.sortedPaymentsList[i].July <br />
        </td>
        <td>
          @Model.sortedSaldoList[i].August <br />
          @Model.sortedChargesList[i].August <br />
          @Model.sortedPaymentsList[i].August <br />
        </td>
        <td>
          @Model.sortedSaldoList[i].September <br />
          @Model.sortedChargesList[i].September <br />
          @Model.sortedPaymentsList[i].September <br />
        </td>
        <td>
          @Model.sortedSaldoList[i].October <br />
          @Model.sortedChargesList[i].October <br />
          @Model.sortedPaymentsList[i].October <br />
        </td>
        <td>
          @Model.sortedSaldoList[i].November <br />
          @Model.sortedChargesList[i].November <br />
          @Model.sortedPaymentsList[i].November <br />

        </td>
        <td>
          @Model.sortedSaldoList[i].December <br />
          @Model.sortedChargesList[i].December <br />
          @Model.sortedPaymentsList[i].December <br />
        </td>
        <td>
          @Model.sortedSaldoList[i].OutSaldo
        </td>
      </tr>
    }
  </tbody>
</table>